.bornes-container {
    background-color: rgb(245, 245, 245);
    margin-top: 100px;
}
.bornes-title {
    padding-top: 80px;
    text-align: center;
    font-size: 24px;
    font-family: 'Montserrat Bold', sans-serif;
    color: #0092FF;
}
.bornes-list {
    display: flex;
    justify-content: center;
    padding: 50px;
    .totem-div {
        text-align: center;
        flex-basis: 25%;
        margin-right: 20px;
        background-color: white;
        margin-left: 20px;
        border-radius: 3px;
        transition: .5s;
        img {
            padding-top: 20px;
            height: 300px;
            width: 300px;
        }
        h2 {
            padding-top: 10px;
        }
    }
    .totem-div:hover {
        box-shadow: 0px 0px 17px 10px rgba(224, 214, 214, 0.5);
        transform: translateY(-30px);
    }
}