.bornes-container {
    background-color: rgb(245, 245, 245);
    margin-top: 100px;
}
.bornes-title {
    padding-top: 80px;
    text-align: center;
    font-size: 24px;
    font-family: 'Montserrat Bold', sans-serif;
    color: #0092FF;
}
.bornes-list {
    display: flex;
    justify-content: center;
    padding: 50px;
    .totem-div {
        overflow: hidden;
        height: 400px;
        flex-basis: 25%;
        margin-right: 20px;
        background-color: white;
        margin-left: 20px;
        border-radius: 3px;
        transition: .3s ease-in-out;
        position: relative;
        img {
            padding-top: 20px;
            height: 300px;
            width: 300px;
            transition: .5s ease-in-out;
        }
        h2 {
            font-family: 'Montserrat Bold', sans-serif;
            padding-top: 10px;
        }
        .text {
            width: 100%;
            padding-top: 20px;
            padding-left: 30px;
            transition: .5s ease-in-out;
            position: absolute;
            bottom: -100%;
            background-color: #0092FF;
            color: white;
        }
    }
    .totem-div:hover {
        box-shadow: 0px 0px 17px 10px rgba(224, 214, 214, 0.5);
        transform: translateY(-20px);
        img {
            opacity: 0.1;
        }
        .text {
            background-color: #0092FF;
            height: 100%;
            width: 100%;
            bottom: 0;
        }
    }
}