.bornes-title {
    padding-top: 80px;
    text-align: center;
    font-size: 24px;
    font-family: 'Montserrat Light';
}
.bornes-list {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    .totem-div {
        text-align: center;
        flex-basis: 25%;
        margin-right: 40px;
        box-shadow: 0px 0px 17px 10px rgba(224, 214, 214, 0.5);
        border-radius: 3px;
        img {
            padding-top: 20px;
            height: 300px;
            width: 300px;
        }
        h2 {
            padding-top: 10px;
        }
    }
}