.container-concept {
    h1 {
        margin-left: 7%;
    }
    width: 100%;
}
.concept-description {
    width:100%;
    p {
        margin-left: 9%;
        width: 60vw;
        line-height: 1.7;
    }
}