.presta-title {
    padding-top: 30px;
    text-align: center;
    font-size: 24px;
    font-family: 'Montserrat Bold', sans-serif;
    color: #0092FF;
}
.presta-list {
    display: flex;
    justify-content: center;
    padding: 20px;
    .presta-div {
        text-align: center;
        flex-basis: 20%;
        margin-right: 20px;
        background-color: white;
        margin-left: 20px;
        border-radius: 3px;
        transition: .5s;
        display: flex;
        justify-content: center;
        align-items: center;
        .img-bw {
            filter: grayscale(100%);
        }
        img {
            width: 150px;
        }
    }
}